.grid{
    display: grid;
    gap: 3.3rem;
    grid-template-columns: repeat(3,3rem);
    grid-template-rows: repeat(4,3rem);
}
span{
    display: flex;
    align-items: center;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    overflow-x: hidden;
    
}